@tailwind base;
@tailwind components;
@tailwind utilities;


.dom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #ef4444;
    z-index: 0;
    transition: .5s ease;
}

.dom:hover::before {
    width: 100%;
}
.dom span {
  position: relative;
  z-index: 2; /* keep text visible */
}